$primary: #E5E5E5;
$dark: #6a6a6a;
$gray: #F4F3EE;
$navbar-dark-color: #262626;
$secondary: #c32c72;

$navbar-light-active-color: #c32c72;

$card-border-radius: 10%;

$navbar-brand-font-size: 1.25rem;